@using Business.Models;
@model PortfolioIndexVM;

<a asp-action="Create" class="btn btn-success">Create</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Portfolios != null && Model.Portfolios.Data != null && Model.Portfolios.Data.Count() > 0)
            @foreach (var item in Model.Portfolios.Data)
            {
                <tr class="@(item.IsDeleted?"table-danger":"")">
                    <th scope="row">@item.Id</th>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td> 
                        <img height="100" width="100" src="~/portfolioimages/@(item.ImageUrl)"/>
                    </td>
                    <td> 
                        @if (item.IsDeleted)
                        {
                            <a asp-action="RevokeDelete" asp-route-id="@item.Id" class="btn btn-warning"> RevokeDelete </a>
                        }
                        else
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"> Delete </a>
                        }
                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success"> Update </a>
                    </td>
                </tr>
            }
    </tbody>
</table>